// ==================================================
// nextflow.config
// Germline SNV/Indel Pipeline
// ==================================================

// --------------------------------------------------
// Parameters
// --------------------------------------------------

params {

    reads       = null
    genome      = null
    outdir      = "results"
    single_end  = false
}

// --------------------------------------------------
// Global settings
// --------------------------------------------------

workDir = "${env('HOME')}/nf_work"

// --------------------------------------------------
// Docker
// --------------------------------------------------

docker {

    enabled = true
    runOptions = "--user \$(id -u):\$(id -g)"
}

// --------------------------------------------------
// Process defaults
// --------------------------------------------------

process {

    executor      = 'local'
    stageInMode   = 'symlink'

    cpus          = 2
    memory        = '4 GB'

    errorStrategy = 'terminate'
    maxRetries    = 2

    // ----------------------------------------------
    // FASTQC
    // ----------------------------------------------

    withName: FASTQC {

        container = "biocontainers/fastqc:v0.11.9_cv8"

        cpus   = 2
        memory = '2 GB'
    }

    // ----------------------------------------------
    // FASTP
    // ----------------------------------------------

    withName: FASTP {

        container = "mgibio/fastp:v0.23.4-noble"

        cpus   = 4
        memory = '4 GB'
    }

    // ----------------------------------------------
    // BWA MEM
    // ----------------------------------------------

    withName: BWA_MEM {

        container = "biocontainers/bwa:v0.7.17_cv1"

        cpus   = 6
        memory = '16 GB'
    }

    // ----------------------------------------------
    // SAMTOOLS
    // ----------------------------------------------

    withName: SAMTOOLS {

        container = "quay.io/biocontainers/samtools:1.17--h00cdaf9_0"

        cpus   = 4
        memory = '4 GB'
    }

    // ----------------------------------------------
    // ADD_RG
    // ----------------------------------------------

    withName: ADD_RG {

        container = "biocontainers/picard:v1.139_cv3"

        cpus   = 2
        memory = '8 GB'
    }

    // ----------------------------------------------
    // MARK_DUP
    // ----------------------------------------------

    withName: MARK_DUP {

        container = "biocontainers/picard:v1.139_cv3"

        cpus   = 2
        memory = '8 GB'
    }

    // ----------------------------------------------
    // BAM_INDEX
    // ----------------------------------------------

    withName: BAM_INDEX {

        container = "biocontainers/samtools:v1.9-4-deb_cv1"

        cpus   = 2
        memory = '2 GB'
    }

    // ----------------------------------------------
    // GATK HC
    // ----------------------------------------------

    withName: GATK_HC {

        container = "quay.io/biocontainers/gatk4:4.6.2.0--py310hdfd78af_1"

        cpus   = 6
        memory = '16 GB'
    }

    // ----------------------------------------------
    // GATK FILTER
    // ----------------------------------------------

    withName: GATK_FILTER {

        container = "quay.io/biocontainers/gatk4:4.6.2.0--py310hdfd78af_1"

        cpus   = 2
        memory = '4 GB'
    }
}

// --------------------------------------------------
// Reports
// --------------------------------------------------

report {

    enabled = true
    file    = "${params.outdir}/pipeline_report.html"
}

timeline {

    enabled = true
    file    = "${params.outdir}/pipeline_timeline.html"
}

dag {

    enabled = true
    file    = "${params.outdir}/pipeline_dag.html"
}

trace {

    enabled = true
    file    = "${params.outdir}/pipeline_trace.txt"
}